/* General para el Home */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  padding: 0;
  /* Eliminar padding extra */
}

/* Container para limitar el ancho del contenido */
.container {
  width: 100%;
  max-width: 1200px;
  /* Ancho máximo típico de un sitio web */
  margin: 0 auto;
  /* Centrar el contenido */
  padding: 20px;
  /* Espaciado interno */
  box-sizing: border-box;
  /* Asegurar que padding no afecte el ancho */
}

/* Estilos para el Banner */
.banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #e3e3e3;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* Sombra para profundidad */
  max-width: 100%;
  box-sizing: border-box;
}

.title-container {
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
  /* Tamaño mayor para el título */
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
}

.subtitle {
  font-size: 18px;
  color: #7f8c8d;
  text-align: center;
  line-height: 1.5;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* Espaciado entre las imágenes */
  flex-wrap: wrap;
}

.image {
  width: 150px;
  /* Tamaño mayor de las imágenes */
  height: 150px;
  margin: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.1);
}

/* NAV */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #34495e;
  color: #ecf0f1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* Sombra para el nav */
  width: 100%;
  max-width: 1200px;
  /* Limitar el ancho */
  margin: 0 auto;
  /* Centrar en pantallas grandes */
}

.nav-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-links ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 25px;
  /* Espacio entre los links */
}

.nav-links a {
  color: #ecf0f1;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #bdc3c7;
}

.nav-search {
  margin-left: 20px;
}

.nav-search input {
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .image-container {
    flex-direction: column;
  }
}


.card-detail {
  justify-items: center;
  height: 100vh;
  display: flex;
}

.card-content {
  justify-items: center;
}

.title-center{
  text-align: center !important;
}